#title {
  font-size: 40px;
}

#subtitle {
  font-size: 20px;
  margin-top: -10px;
}

#query {
  border-color: #ccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: #555;
  padding: 3px 12px;
  background-color: #ffffff;
}

body {
  background-color: #e3f2fd;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.result-row {
  margin-left: 20vw;
  margin-right: 20vw;
}

.result-row .row {
  margin-bottom: 0px;
}

#settings-modal {
  width: 400px !important;
}

.card-image>img {
  max-width: 110px !important;
  min-height: 140px;
  background-position: center center;
  object-fit: cover;
}

.card-title {
  line-height: 33px !important;
  ;
}

.card-content {
  padding-top: 10px;
}

.card-content>p>b {
  background-color: yellow;
}

@media (max-width: 480px) {
  #query {
    padding: 3px 12px;
  }

  .result-row {
    margin-left: 0vw;
    margin-right: 0vw;
  }
}